<!doctype html>
<html>

  <head>
    <title> FoxChatter </title>
    
    <link rel="stylesheet" type="text/css" href="/css/global.css">
    <link rel="stylesheet" type="text/css" href="/css/feed.css">

  <body>
    <h2>Welcome :D</h2>

<button onclick="myFunction()">CLICK ME</button>

<script>
function myFunction() {
  alert("Made by Lucas Benson!");
}
</script>

    <header>

      <!--Site Name-->
      <h3 id="Foxchatter_text_Logo">FoxChatter</h3>
      <!--MyMarist Portal-->
      <div id="portal_button">
        <img src = "images/redfox.png" height="50" width="50" class = "tp">
      </div>
      <h3 class = "tp" id = "portal_button_text">MyMarist</h3>
    </header>
    <main>
      <div id="newsFeed">

      </div>

    </main>
    <footer>
      <p id="site_info">Copyright &copy; 2024: Marist College est. 1929 &emsp;<a href = 'Marist.edu'> Marist.edu </a></p>
      <style>
        footer {
          position: relative;
          left: 0;
          bottom: 0;
          width: 100%;
          background-color:purple;
          color: white;
          text-align: center;
        }
        </style>
    </footer>

    
    <script src="/js/global.js"></script>
    <script src="/js/feed.js"></script>

  </body>
</html>