header {
	position: fixed;
	left:0px;
	top: 0px;
	height: 60px;
	width: 100%;

	display: flex;
	justify-content: space-between;
	align-items: center;

	background-color: red;
	font-size: 30px;
	color: white;
}

main {
	display: grid;
	padding-top: 60px;
	justify-content: center;
}

footer {
	position: absolute;
	left: -100px;
  bottom: -100px;
	width: 110%;
	background-color: red;
	text-align: center;
	font-size: 20px;
}

#portal_button {
	position: fixed;
	right: 169px;
	top: 3px;
}
#portal_button_text {
	position: fixed;
	right: 10px;
	top: -28px;
}

a {
	color: blue;
	text-decoration: none;
}

#redfox{
	position: relative;
	float: left;
	height: 50px;
	bottom: 5px;
}

#newsfeed {
	max-width: 600px;
	min-width: 600px;
}

.feedImage {
	max-width: 150px;
	max-height: 150px;
}

.image-campus {
    width: 250px;
    height: 250px;
    background-image: url('images/campus.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.image-hancock {
    width: 250px;
    height: 250px;
    background-image: url('images/hancock.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.image-news-pic {
    width: 250px;
    height: 250px;
    background-image: url('images/news_pic.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}