header {
	position: fixed;
	left:0px;
	top: 0px;
	height: 60px;
	width: 100%;

	display: flex;
	justify-content: space-between;
	align-items: center;

	background-color: rgb(142, 29, 29);
	font-size: 30px;
	color: white;
	font-family: fantasy;
}

main {
	display: grid;
	padding-top: 60px;
	justify-content: center;
}

footer {
	position: fixed;
	left: 0px;
  bottom: 0px;
	width: 100%;
	background-color: rgb(142, 29, 29);
	text-align: center;
	font-size: 20px;
	color: white
}

#portal_button {
	position: fixed;
	right: 169px;
	top: 3px;
}
#portal_button_text {
	position: fixed;
	right: 10px;
	top: -28px;
}

a {
	color: blue;
	text-decoration: none;
}

#redfox{
	position: relative;
	float: left;
	height: 50px;
	bottom: 5px;
}

#newsfeed {
	max-width: 600px;
	min-width: 600px;
}

.feedImage {
	max-width: 150px;
	max-height: 150px;
}

#photo {
	float: left;
	max-width: 200px;
	max-height: 200px;
}

h2{
	color: rgb(255, 0, 0);
	text-decoration-line: rgb(255, 0, 0);
}

.MouseTrail {
    position: absolute;
    height: 7px; width: 7px;
    border-radius: 4px;
    background: rgb(255, 0, 0);
  }